<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
    
  <%- include("./partials/nav.ejs") %>
    
  <div class="about content">
    <h2>About Me</h2>
    <p>I used to work in supply chain management and logistics, but now I'm diving into programming and web development, which I find really exciting. I know HTML, CSS, JavaScript (including ReactJS), and SQL, and I'm on my way to becoming a Full-Stack Developer.

      I've also improved my project management skills with a course from Google and got certificates for SQL basics and web development from MIMO. I'm passionate about technology and innovation, and I'm committed to doing well in this ever-changing field.</p>
    <p>learning Backend too</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>